<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="4.0.1">

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.jpeg</url-pattern>
<!--        <url-pattern>*.html</url-pattern>-->
    </servlet-mapping>

</web-app>