<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="additionCalculator" class="ru.itis.calculator.AdditionCalculator"/>-->
<!--    <bean id="substractionCalculator" class="ru.itis.calculator.SubtractionCalculator"/>-->
<!--    <bean id="divisionCalculator" class="ru.itis.calculator.DivisionCalculator"/>-->
<!--    <bean id="multiplicationCalculator" class="ru.itis.calculator.MultiplicationCalculator"/>-->

<!--    <bean id="squaredSumCalculator" class="ru.itis.calculator.SquaredSumCalculator">-->
<!--        <constructor-arg name="helpingCalculator" ref="multiplicationCalculator"/>-->
<!--    </bean>-->
</beans>