.main{
    display: flex;
}

.text{
    margin: 20px 20px 20px 20px;
    font-size: 18px;
}

.frame{
    text-align: center;
    margin: 20px 20px 20px 20px;
    width: 400px;
    height: 1200px;
    border: solid black 5px;
}

.anvil{
    position: relative;
    top: 1px;
}

.btn{
    color: black;
    background-color: lightgrey;
    margin: 20px 20px 20px 20px;
    font-size: 20px;
}